<main class="bg-charcoal-500 py-12">
  <div class="relative mx-auto px-8 max-w-7xl">
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">
      
      <!-- Producto 1 -->
      <a href="/galeria?categoria=tazas" class="block group">
        <img
          class="w-full h-auto rounded-3xl transition-transform duration-300 group-hover:scale-105"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg"
          alt="Tazas"
        />
        <div class="flex justify-between items-end mt-4 px-2 text-sm text-gray-300">
          <div>
            <p>Tazas</p>
            <p class="text-lg text-white font-semibold">Beige</p>
          </div>
          <p class="text-[#e25d44] font-bold">$3</p>
        </div>
      </a>

      <!-- Producto 2 -->
      <a href="/galeria?categoria=remeras" class="block group">
        <img
          class="w-full h-auto rounded-3xl transition-transform duration-300 group-hover:scale-105"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/8ea407efd5f947aa6a37488cfe305269.jpg"
          alt="Remeras"
        />
        <div class="flex justify-between items-end mt-4 px-2 text-sm text-gray-300">
          <div>
            <p>Remeras</p>
            <p class="text-lg text-white font-semibold">Olive / Orange</p>
          </div>
          <p class="text-[#e25d44] font-bold">$35</p>
        </div>
      </a>

      <!-- Producto 3 -->
      <a href="/galeria?categoria=cafe" class="block group">
        <img
          class="w-full h-auto rounded-3xl transition-transform duration-300 group-hover:scale-105"
          src="https://cdn.dribbble.com/users/1622978/screenshots/16397986/media/75e59a9fcf94b8a51764df66ce7a1d4f.jpg"
          alt="Café"
        />
        <div class="flex justify-between items-end mt-4 px-2 text-sm text-gray-300">
          <div>
            <p>Café</p>
            <p class="text-lg text-white font-semibold">Fuerte. Nivel dev.</p>
          </div>
          <p class="text-[#e25d44] font-bold">$35</p>
        </div>
      </a>

      <!-- Producto 4 -->
      <a href="/galeria?categoria=accesorios" class="block group">
        <img
          class="w-full h-auto rounded-3xl transition-transform duration-300 group-hover:scale-105"
          src="https://cdn.dribbble.com/userupload/2739254/file/original-ac8226a7213611e49363fc0176a48cb0.jpg"
          alt="Accesorios"
        />
        <div class="flex justify-between items-end mt-4 px-2 text-sm text-gray-300">
          <div>
            <p>Accesorios</p>
            <p class="text-lg text-white font-semibold">Diseño exclusivo</p>
          </div>
          <p class="text-[#e25d44] font-bold">$35</p>
        </div>
      </a>

    </div>
  </div>
</main>
