<main>
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2">
      <!-- Tarjeta 1 -->
      <a
        href="/galeria?categoria=tazas"
        class="group block rounded-3xl overflow-hidden shadow-2xl transition-transform duration-300 hover:scale-105"
      >
        <figure>
          <img
            class="w-full h-72 object-cover group-hover:opacity-90 transition duration-300"
            src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/7f5d72bce5b94fe1ae56484394de673f.jpg"
            alt="Tazas"
          />
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-negroni-500">Tazas</h3>
              <p class="mt-1 text-lg font-medium leading-6 text-white">Beige</p>
            </div>
            <p class="text-base text-tomato-500">$3</p>
          </div>
        </figure>
      </a>

      <!-- Tarjeta 2 -->
      <a
        href="/galeria?categoria=remeras"
        class="group block rounded-3xl overflow-hidden shadow-2xl transition-transform duration-300 hover:scale-105"
      >
        <figure>
          <img
            class="w-full h-72 object-cover group-hover:opacity-90 transition duration-300"
            src="https://cdn.dribbble.com/users/1622978/screenshots/16873134/media/8ea407efd5f947aa6a37488cfe305269.jpg"
            alt="Remeras"
          />
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-negroni-500">Remeras</h3>
              <p class="mt-1 text-lg font-medium leading-6 text-white">
                Olive / Orange
              </p>
            </div>
            <p class="text-base text-tomato-500">$35</p>
          </div>
        </figure>
      </a>

      <!-- Tarjeta 3 -->
      <a
        href="/galeria?categoria=cafe"
        class="group block rounded-3xl overflow-hidden shadow-2xl transition-transform duration-300 hover:scale-105"
      >
        <figure>
          <img
            class="w-full h-72 object-cover group-hover:opacity-90 transition duration-300"
            src="https://cdn.dribbble.com/users/1622978/screenshots/16397986/media/75e59a9fcf94b8a51764df66ce7a1d4f.jpg"
            alt="Café"
          />
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-negroni-500">Café</h3>
              <p class="mt-1 text-lg font-medium leading-6 text-white">
                Fuerte. Nivel dev.
              </p>
            </div>
            <p class="text-base text-tomato-500">$35</p>
          </div>
        </figure>
      </a>

      <!-- Tarjeta 4 -->
      <a
        href="/galeria?categoria=accesorios"
        class="group block rounded-3xl overflow-hidden shadow-2xl transition-transform duration-300 hover:scale-105"
      >
        <figure>
          <img
            class="w-full h-72 object-cover group-hover:opacity-90 transition duration-300"
            src="https://cdn.dribbble.com/userupload/2739254/file/original-ac8226a7213611e49363fc0176a48cb0.jpg"
            alt="Accesorios"
          />
          <div class="mt-4 flex justify-between px-6">
            <div>
              <h3 class="text-sm text-negroni-500">Accesorios</h3>
              <p class="mt-1 text-lg font-medium leading-6 text-white">
                Diseño exclusivo
              </p>
            </div>
            <p class="text-base text-tomato-500">$35</p>
          </div>
        </figure>
      </a>
    </div>
  </div>
</main>
